p {
    color: blue;
    text-align: center;
    font-family: "Arial";
}
.policia{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    height: 1px;
    margin:     auto;
  background: gold;
  width:      66%;;
    content: normal;
    padding: 20px,0%;
    margin: 10px;
}