p {
    color: blue;
    text-align: center;
    font-family: "Arial";
}
.policia{

    text-align: center;
    color: blue;
    background-color: aqua;
}

#cabecera{
    text-align: center;
    background-color: rgb(60, 255, 0);
    box-shadow:chocolate;
    float: inline-end;
}